body{
    font-family: "Arial", Helvetica, sans-serif;
    padding-left: 25px;
}

#regUsers{
    margin-bottom: 15px;
    border-collapse: collapse;
}

th {
    height: 50px;
    width: 100px;
}

#userform{
    margin-right: 500px;
    
}

fieldset {
    border: 0;
}