<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
    <title>User Registration - Challenge 6</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="userController as userctrl">
   <h2>User Registration</h2>
    <p>Please enter the user details below:</p>
    
    <div id="userform">
        <fieldset title="form">
            <!--ng-submit will run register this.register-->
            <form ng-submit="userctrl.register()" name="myForm" novalidate>

                Username:<br>
                <input type="text" name="user" id="username" ng-model="userctrl.values.username" required>
                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">Username is required.</span>
                </span>
                <br>
                Name:<br>
                <input type="text" name="name" id="name" ng-model="userctrl.values.name" required>
                <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span ng-show="myForm.name.$error.required">Name is required.</span>
                </span>
                <br>
                
                Email:<br>
                <input type="email" name="email" id="email" ng-model="userctrl.values.email">
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">Email is required.</span>
                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                </span>
                <br>
                
                Password:<br>
                <input type="password" name="pass" id="password" ng-model="userctrl.values.password" required>
                <span style="color:red" ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
                    <span ng-show="myForm.pass.$error.required">Password is required.</span>
                </span>
                <br>
                
                Age:<br>
                <input type="number" name="age" id="age" ng-model="userctrl.values.age" required>
                <span style="color:red" ng-show="myForm.age.$dirty && myForm.age.$invalid">
                    <span ng-show="myForm.age.$error.required">Age is required.</span>
                </span>
                <br>
                
                <div id="submitButton">
                    <button>Submit</button>
                    
                </div>         
                
                
            </form>
        </fieldset>
    </div>
    
    <div>
            Average Age of Users: {{userctrl.getAvg()}}
        </div>
    
    <div>
        <h3>Registered Users</h3>
        
        <table id="regUsers" border="1">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Age</th>
                </tr>
                <tr ng-repeat="user in userctrl.users">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.age}}</td>
                </tr>
            </thead>
            <tr>
            </tr>
        </table>
        
        
            
    </div>
    
    <script type="text/javascript">
        angular.module("app", []).controller('userController', 
        function() {
            var that = this;
            //empty users array
            this.users = [];
            
            //values of form elements
            this.values = {
                'id': that.users.length,
                'username': this.username,
                'name': this.name,
                'email': this.email,
                'password':this.password,
                'age':this.age
            }
            
            //this.register invokes this function to build object
            this.user = function(username,name,email,password,age){
                this.id = that.users.length + 1;
                this.username= username;
                this.name= name;
                this.email = email;
                this.password = password;
                this.age = age;
            }
    
            this.register = function() {
                //push new user to array
                that.users.push(new that.user(that.values.username,that.values.name,that.values.email,that.values.password,that.values.age));
            };
            
            //calculate average age of users
            this.getAvg = function() {
                
                var sum = 0; 
                for(var i = 0; i < this.users.length; i++){
                    sum += parseInt(this.users[i].age, 10);
                }
                    var avg = sum/this.users.length;
                    console.log(avg);
                return avg; 
                
            };
            
        });
    </script>


</body>

</html>
